<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form method="post" action="/gosearch/">
    <div style="background-color: #fafafa; width: 110%; height: 100px; margin-top: -10px; margin-left: -10px;
    float: left">
        <input type="search" style="width: 37%; height: 35%;
        margin-left: 10%; margin-top: 20px; float: left" name="searchtxt">
        <input type="submit" style="background-color: #3385ff; width: 6%; height: 35%;
        margin-top: 20px; float: left; border-width: 0 0 0 0; color: #fff;
        font-size: medium" value="搜   索">
    </div>
</form>
</body>
</html>